.App{
  background-color: white;

}


.App-header {
  height: 23vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 3px solid black;
  background-color: white;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F094%2F491%2Foriginal%2Fpolygonal-texture-background-vector.jpg&f=1&nofb=1');
  background-repeat: repeat;
  background-position: 0% 20%;
  background-size: 25%;   

}

.App-logo {
  position: relative;
  width: 16vw;
  right: 43vw;
  
}


.Title {
  position: absolute;
  left: 18vw;
  font-size: 6vh;
 

  
}


.display_time {
  font-weight: bold;
  position: absolute;
  top: 1vh;
  right: 0.5vw;
  font-size: 3vh;
  color: black;
  font-weight: 500;
  padding: 7px;
}



.Tweets{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  margin-right: 10vw;
  margin-left: 7vw;
  margin-top: 6vh;
  margin-bottom: 1vh;
  
  
}


.testTweet {
  padding: 1vh 0px;
  
}


/* wordcloud and paragraph */
.AppBody-right{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30vh;
  left: 45vw;
  border-left: 1px solid black;

}


.wordCloud {
  width: 50vw;

  
}

.main-par{
  color: black;
  margin: 10vh 5vh;
  text-indent: 5vh;
  line-height: 1.8;
}

.par-title {
  /* position: relative; */
  left: 20vw;
  text-decoration: underline;
  
}
 


.header_container {
  position: absolute;
  font-size: 3vh;
  display: grid;
  color: black;
  top: 4vh;
  right: 2vw;
  padding-bottom: 0px;
  font-weight: bold;
}




.header_elem_1 {
  grid-column-start: 0;
  grid-column-end: 3;
  justify-content: space-around;
  padding: 0px 1vw;


}


.header_elem_1:hover {
  text-decoration: underline;
}



.header_elem_2 {
  grid-column-start: 3;
  grid-column-end: 6;
  justify-content: space-around;
  padding: 0px 1vw;
}

.header_elem_2:hover {
  text-decoration: underline;
}


.header_elem_3 {
  grid-column-start: 6;
  grid-column-end: 9;
  justify-content: space-around;
  padding: 0px 1vw;
}





.header_elem_3:hover {
  text-decoration: underline;
}


.header_elem_4 {
  grid-column-start: 9;
  grid-column-end: 12;
  justify-content: space-around;
  padding: 0px 1vw;
  
}

.header_elem_4:hover {
  text-decoration: underline;
}


#current-element {
  border: 5px solid white;
  position: relative;
  bottom: 4vh;
  font-size: 5vh;
}

.footer_container {
  border-top: 2px solid black;
  display: grid;
  justify-content: space-around;
  background-color: rgb(79, 183, 214);
  position: relative;
 
}



.footer_elem_1 {
  border-right: 2px dotted black;
  grid-column-start: 0;
  grid-column-end: 3;
  padding: 0px 10vw;
}

.footer_elem_2 {
  border-right: 2px dotted black;
  grid-column-start: 3;
  grid-column-end: 6;
  padding: 0px 10vw;
}


.footer_elem_3 {
  border-right: 2px dotted black;
  grid-column-start: 6;
  grid-column-end: 9;
  padding: 0px 10vw;
  
}

.footer_elem_4 {
  grid-column-start: 9;
  grid-column-end: 12;
  padding: 0px 10vw;
  
}


.about-par {
  font-size: 30px;
  padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
}


.about-title {
  position: relative;
  left: 39vw;
  margin-top: 10vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 8vh;
  justify-content: space-around;
  align-items: center;

}

.form-group {
  margin: 5vh;
}

.btn-primary {
  width: 5vw;
}

.form-title {
  text-align: center;
}

.form-label {
  margin: 1vw;
}


#breaking-news-chart {
  width: 95vw;
  height: 80vh;
  position: relative;
 
}



